name: Node CI

on:
  push:
    branches: 
      - ifall

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      env:
        BRANCH: ${{ github.ref }}
        COMMIT: ${{ github.sha }}
      run: |
        npm install
        npm build
        docker build -t docker.io/xebxke/ifall:${BRANCH#/refs/heads/}-$COMMIT .
