name: Node CI

on:
  push:
    branches:
      - hands_on/akvaternik

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      BRANCH: ${{ github.ref }}
      COMMIT: ${{ github.sha }}

    strategy:
      matrix:
        node-version: [8.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: npm install && npm test && npm run build
      env:
        CI: true
    - name: docker
      run: docker build -t docker.io/xebxke/awesomeimage:${BRANCH#/refs/heads/}/$COMMIT .
